run = "node aenzbi-backend/server.aenzbi.bi/server.js"
modules = [ "python-3.10", "nix", "nodejs-18"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node aenzbi-backend/server.aenzbi.bi/server.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 9005
externalPort = 3000
